@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.blue-line {
    height: 1.64rem;
    background-color: #051b6e;
}
.header {
    padding: 1.24rem 1rem 1.24rem 2rem;
    border-style: none none solid none;
    border-width: 5px;
    border-color: #d9d9d9;
}
.title {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    //font-weight: bolder;
}
.r-green {
    color: green;
}
.s-red {
    color: red;
}
h1 {
    margin: 0;
}
