<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">   
    <title>Vite App</title>
  </head>

  <body>    
      <div id="app"></div>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
      <script>    
       new Vue({
                  el:'#app',
                  template: `
                  <div class="container">
      <h1>Pesquisa</h1>
      <hr />
      <div class="form-todo form-group">

        <h4>População residente absoluta total</h4>
        <p>  
        <input placeholder="População residente absoluta total" type="int" name="populacaoRAT"
        class="form-control" v-model="populacaoRAT" />       
       </p>

       <h4>População residente absoluta urbana total</h4>
       <p>
        <textarea placeholder="População residente absoluta urbana total" name="populacaoRAUT"
        class="form-control" v-model="populacaoRAUT" ></textarea>
       </p>

       <h4>População residente absoluta urbana na sede municipal</h4>
       <p>
        <textarea placeholder="População residente absoluta urbana na sede municipal" name="populacaoRAUSM"
        class="form-control" v-model="populacaoRAUSM" ></textarea>
       </p>

       <h4>População residente relativa total</h4>
       <p>
        <textarea placeholder="População residente relativa total" name="populacaoRRT"
        class="form-control" v-model="populacaoRRT" ></textarea>
       </p>

       <h4>População residente relativa urbana total</h4>
       <p>
        <textarea placeholder="População residente relativa urbana total" name="populacaoRRUT"
        class="form-control" v-model="populacaoRRUT" ></textarea>
       </p> 

       <h4>População residente relativa urbana na sede munucipal</h4>
       <p>
        <textarea placeholder="População residente relativa urbana na sede munucipal" name="populacaoRRUSM"
        class="form-control" v-model="populacaoRRUSM" ></textarea>
       </p>      

       <h4>Área total</h4>
       <p>
        <textarea placeholder="Área total" name="areaT"
        class="form-control" v-model="areaT" ></textarea>
       </p>    

       <h4>Densidade demográfica</h4>
       <p>
        <textarea placeholder="Densidade demográfica" name="densidadeD"
        class="form-control" v-model="densidadeD" ></textarea>
       </p> 

       <h4>Código da Unidade Geográfica</h4>
       <p>
        <textarea placeholder="Código da Unidade Geográfica" name="codigoUG"
        class="form-control" v-model="codigoUG" ></textarea>
       </p> 

       <button v-on:click="addComment" type="submit" class="btn btn-primary">Comentar</button>

       </div>
       <div class="list-group">
        <div class="list-group-item" v-for="(comment, index) in comments">

          <span class="comment__populacaoRAT">População residente absoluta total: <strong>{{comment.populacaoRAT }}</strong></span>
          <br>
          <span class="comment__populacaoRAUT">População residente absoluta urbana total: <strong>{{comment.populacaoRAUT }}</strong></span> 
          <br>
          <span class="comment__populacaoRAUSM">População residente absoluta urbana na sede municipal: <strong>{{comment.populacaoRAUSM }}</strong></span>
          <br>          
          <span class="comment__populacaoRRT">População residente relativa total: <strong>{{comment.populacaoRRT }}</strong></span>
          <br>
          <span class="comment__populacaoRRUT">População residente relativa urbana total: <strong>{{comment.populacaoRRUT }}</strong></span>
          <br>
          <span class="comment__populacaoRRUSM">População residente relativa urbana na sede munucipal: <strong>{{comment.populacaoRRUSM }}</strong></span>
          <br>
          <span class="comment__areaT">Área total: <strong>{{comment.areaT }}</strong></span>
          <br>
          <span class="comment__densidadeD">Densidade demográfica: <strong>{{comment.densidadeD }}</strong></span>
          <br>
          <span class="comment__codigoUG">Código da Unidade Geográfica: <strong>{{comment.codigoUG }}</strong></span>

          <div>
            <a href="#" tittle="Excluir"
            v-on:click.prevent="removeComment(index)">Excluir</a>
          </div>

      </div>
      </div>
      <hr />
                  `,
                  data(){
                    return{
                      comments:[],
                      populacaoRAT: 0 ,
                      populacaoRAUT: 0,                     
                      populacaoRAUSM: 0,
                      populacaoRRT: 0,
                      populacaoRRUT: 0,
                      populacaoRRUSM: 0,
                      areaT: 0,
                      densidadeD: 0,
                      codigoUG: 0
                    }
                  },
                  methods:
                  {   
                                 
                      addComment(){
                        /*  se for 0 nao salva nada
                        if(this.populacaoRAUT.trim() === 0)
                      {
                        return;
                      }
                      */
                      
                        this.comments.push({
                          populacaoRAT: this.populacaoRAT,
                          populacaoRAUT: this.populacaoRAUT,
                          populacaoRAT: this.populacaoRAT,
                          populacaoRAUT: this.populacaoRAUT,
                          populacaoRAUSM: this.populacaoRAUSM,
                          populacaoRRT: this.populacaoRRT,
                          populacaoRRUT: this.populacaoRRUT,
                          populacaoRRUSM: this.populacaoRRUSM,
                          areaT: this.areaT,
                          densidadeD: this.densidadeD,
                          codigoUG: this.codigoUG
                        });

                        this.populacaoRAT = 0;
                        this.populacaoRAUT = 0;
                        this.populacaoRAUSM = 0;
                        this.populacaoRRT = 0;
                        this.populacaoRRUT = 0;
                        this.populacaoRRUSM = 0;
                        this.areaT = 0;
                        this.densidadeD = 0;
                        this.codigoUG = 0;
                        
                      }, 

                      removeComment(index) {
                            this.comments.splice(index, 1);
                      }  
                  },
                  /*  
                  computed: { retornar anonimo em vez de nada na interface
                                allComments(){
                                return this.comments.map(comment =>({
                                  ...comment,
                                  populacaoRAT: comment.populacaoRAT.trim() === '' ? 'Anônimo' : comment.populacaoRAT
                                }))
                                }
                  },*/
                    watch: {
                      comments(val){
                        console.log('val', val)
                      }
                    }           
       })
      </script>
  </body>
</html>
